body{
	background: #ffffff;
}

.clearfix:after{
	display: block;
	clear: both;
	content: '';
}

.header{}

.header .nav{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	
}
.header .nav ul li a{
	font-size: 18px;
	color: #333;
}

.header .nav h1{
	width: 200px;
	height: 62px;
	background: url(../img/logo.png) no-repeat 100%;
	float: left;
	margin: 19px 0 19px;
}
.header .nav ul{
	float: right;
}
.header .nav ul li{
	float: left;
	height: 100px;
	/*background: pink;*/
	line-height: 100px;
	margin-left: 40px;
}
.header .nav ul li img{
	margin-left: 4px;
}
.header .nav span{
	position: absolute;
	right: 0;
	top:10px;
	color: #333;
	font-size: 14px;
}
.header .nav span img{
	margin-left: 7px;
	
}

.footer{
	background: #212425;
}
.footer .foot-nav{
	width: 1070px;
	margin: 0 auto;
	padding: 42px;
	
}
.footer .foot-nav ul{
	font-size: 14px;
	color: #f0f1f1;
	padding: 8px 0px 15px 154px;
	border-bottom: 1px solid #888;
	
}

.footer .foot-nav ul li{
	float: left;
	padding: 0 16px;
	border-right: 1px solid #7e7e7e;
	
}
.footer .foot-nav ul li a{
	font-size: 14px;
	color:#f0f1f1 ;
}

.footer .foot-nav ul .last{
	color: #888888;
	font-size: 20px;
	border:none;
	margin-top:-7px;
	padding-left: 32px;
	padding-right: 0 !important;
	
}
.footer .foot-nav ul .last img{
	background: #888;
	margin: 0 8px 0 0px;
}
.footer .foot-nav p{
	color: #7d7e7e;
	font-size: 14px;
	height: 45px;
	line-height: 45px;
	width: 100%;
	text-align: center;
	
}

.foot-ul>li:nth-of-type(1){
	padding-left: 0 !important;
}
.foot-ul>li:nth-of-type(7){
	border: none !important;
}

.foot-click a{
		color: #215b9e !important;
		text-decoration:underline;
	}
	
.head-click a{
		color: #65a4f8 !important;
	}